@using AuctionApp.Application.DTOs.Responses.ProductResponses
@model GetProductByIdResponse
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="single-product mt-150 mb-150">
    <div class="container">
        <div class="row">
                <div class="col-md-5">
                <div class="single-product-img">
                    <img src="@Model.Image" style="height:480px" alt="">
                </div>
                <br />
                <div id="countdown" style="color:coral; font-weight:500"></div>
            </div>
            <div class="col-md-7">
                <div class="single-product-content">
                    <h3 >
                        @Model.Name
                    </h3>
                    <p class="single-product-pricing"><span>Açılış Fiyatı</span> @Model.BeginPrice</p>
                    <p>
                        @Model.Description
                    </p>

                    <p class="single-product-pricing"><span>Başlangıç Tarihi</span>@Model.BeginDate</p>
                            
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end single product -->


@section scripts{
    <script>
        var registerDate = new Date('@Model.BeginDate.ToString("yyyy-MM-ddTHH:mm:ss")');

        var timer = setInterval(function () {

            var currentDate = new Date().getTime();

            var remainingTime = registerDate - currentDate;
            var days = Math.floor(remainingTime / (1000 * 60 * 60 * 24));
            var hours = Math.floor((remainingTime % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((remainingTime % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((remainingTime % (1000 * 60)) / 1000);


            $('#countdown').html(days + ' gün, ' + hours + ' saat, ' + minutes + ' dakika, ' + seconds + ' saniye kaldı...');


            if (remainingTime < 0) {
                clearInterval(timer);
                $('#countdown').html('Geri sayım tamamlandı');
            }
        }, 1000);
    </script>

}

