@using AuctionApp.Application.DTOs.Responses.AuctionResponses
@model GetAuctionByIdResponse
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "AuctionDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="single-product mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="single-product-img">
                    <img src="@Model.Product.Image" style="height:480px;" alt="">
                </div>
                <div class="more-products mb-150">
                    <br />
                    <h5 style="color:sandybrown" id="lastOffer"></h5>
                </div>
            </div>
            <div class="col-md-7">
                <div class="single-product-content">
                    <h3 style="color:sandybrown">
                        @Model.Title
                    </h3>
                    <table class="table-borderless" style="margin:10px; margin-top:15px" >
                        <thead>
                            <tr>
                                <td>
                                    <span>Açılış Fiyatı</span>                                   
                                </td>
                                <td>
                                    <span>Şu Anki Teklif</span>                                  
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <td>
                            <p class="single-product-pricing">@Model.Product.BeginPrice</p>
                            </td>
                            <td>
                            <p id="offer" class="single-product-pricing">@Model.OfferPrice</p>
                            </td>
                        </tbody>
                    </table>
                   
                    <div class="single-product-form">

                        <form id="offerForm">

                            <input id="inputVeri" class="form-control" type="number" placeholder="0" name="OfferPrice" />
                            <input type="hidden" name="AuctionId" value=@Model.Id>
                            <input type="hidden" name="beginPrice" value=@Model.Product.BeginPrice>
                            <input id="lastOfferPrice" type="hidden" name="lastOfferPrice" value="@Model.OfferPrice">

                            <button onclick="submitForm()" type="button" class="btn btn-primary " style="border-radius:50px; border:none; background-color:sandybrown; padding:10px ">

                                Teklif Ver
                                <i class="fas fa-handshake"></i>
                            </button>
                            <br />
                            <br />
                            <p>@Model.Product.Description</p>
                        </form>
                      
                                           
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <style>
        .single-product-pricing {
            display: inline-block;
            margin-right: 40px;
        }
        td {
            padding-right: 40px;
            text-align:center;
        }
    </style>

    @section scripts
    {
    <script>

        function submitForm() {
            var formData = $('#offerForm').serializeArray();

            var jsonData = {};
            $(formData).each(function (index, obj) {
                jsonData[obj.name] = obj.value;
            });
            console.log(jsonData);
            var data1 = JSON.stringify(jsonData)

            $.ajax({
                type: "POST",
                url: "/Auction/Offer",
                contentType: "application/json; charset=utf-8",
                data: data1,
                success: function (data) {
                    console.log(data.status)
                    if (data.status == true) {
                        toastr.success(data.message);
                    }
                    else {
                        toastr.warning(data.message);
                    }
                },
                error: function (data) {
                    alert("hata")
                }
            });

            $("#offerForm").trigger("reset");
        }

        let connection = new signalR.HubConnectionBuilder()
            .withUrl("/offershub")
            .build();
        connection.start();
        connection.on("receiveMessage", data => {
            var json = JSON.parse(data);
            $('#offer').text(json.OfferPrice);
            $('#lastOfferPrice').val(json.OfferPrice);
            var offer = `${json.UserName} isimli kullanıcının teklifi:&nbsp &nbsp $${json.OfferPrice}`;

            $("#lastOffer").html(offer);
        });
    </script>
    }

       
    