    @using AuctionApp.Application.DTOs
@model IEnumerable<ProductDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>

    <title>Item List</title>
    <style>
        .text {
            display: block;
            width: 100px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    </style>

</head>
<body>

    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card">
            <h5 class="card-header">Table Basic</h5>
            <div class="table-responsive text-nowrap">
                <table id="example" class="table" style="min-height:200px">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Ürün Adı</th>
                            <th>Açıklama</th>
                            <th>ResimURL</th>
                            <th>Fiyat</th>

                            <th>Güncelle</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        <tr>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td>
                                    <span class="text">
                                            @item.Description
                                    </span></td>
                                <td class="text">@item.Image</td>
                                <td>@item.BeginPrice</td>

                                <td>

                                    <!-- Diğer gerekli alanlar ve düğmeler -->

                                    <button id=@item.Id name="edit-button" class="btn p-0 dropdown-toggle hide-arrow">


                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                        </svg>
                                    </button>

                                </td>

                                <td>

                                    <a asp-area="admin" asp-controller="Product" asp-action="DeleteProduct" asp-route-id=@item.Id>
                                        <!-- Diğer gerekli alanlar ve düğmeler -->
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <button type="submit" class="btn p-0 dropdown-toggle hide-arrow">


                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash2-fill" viewBox="0 0 16 16">
                                                <path d="M2.037 3.225A.703.703 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2a.702.702 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225zm9.89-.69C10.966 2.214 9.578 2 8 2c-1.58 0-2.968.215-3.926.534-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466-.18-.14-.498-.307-.975-.466z" />
                                            </svg>
                                        </button>
                                    </a>


                                    @*	<button id="delete" onclick="" type="submit" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">



                                        </button>*@

                                </td>
                            </tr>
                        }

                            @*<td><span class="badge bg-label-primary me-1">Active</span></td>*@

                        </tbody>
                    </table>

                </div>

            </div>
            <div class="demo-inline-spacing">
                <button id="modal-buton" type="button" class="btn btn-success">
                    <span class="tf-icons bx bx-anchor"></span>&nbsp; Ürün Ekle
                </button>
                @*<button id="edit-button" type="button" class="btn btn-danger">
                        <span class="tf-icons bx bx-bell"></span>&nbsp; Ürün Güncelle
                    </button>*@
            </div>

        </div>

        @section scripts
		{
            <script>
                //$(document).ready(function () {
                //	$('#example').DataTable();
                //});

                $(function () {
                    $('#modal-buton').click(function () {
                        $('#lg-modal').load('/admin/Product/CreateProduct');
                        $('#largeModal').modal('show');
                    });
                });

                $(function () {
                    $('[name="edit-button"]').click(function () {
                        var id = $(this).attr("id"); // atribute alanın değerini al
                        $('#lg-modal').load('/admin/Product/UpdateProduct/' + id);
                        $('#largeModal').modal('show');
                    });
                });

                        //$(function () {
                        //	$('#delete').click(function () {
                        //		$('#lg-modal').load('/admin/Product/DeleteProduct');
                        //		$('#largeModal').modal('show');
                        //	});
                        //});


            </script>



        }
    </body>
</html>